<a href="https://colab.research.google.com/github/gowtham-dd/Data-Science-Basics/blob/main/27_1_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#data types
b="123456"
a="hi hello everyone"
print(a.count("l"))
print(a.split())
print(a.capitalize())
print(a.index("n"))
print(a.casefold())
print(a.isalpha())
print(b.isnumeric())
print(b.isalnum())
print("Gowtham is a \n Boy")

print(a.find("o"))
print(a.find("z")) ##-1 if no letter as such
## print(a.index("z")) error will come

2
['hi', 'hello', 'everyone']
Hi hello everyone
15
hi hello everyone
False
True
True
Gowtham is a
 Boy
7
-1

In [24]:
## string format
name="gowtham"
print(R"Gowtham\n20") ## Raw string to print anything in it like \n to
print(f"gowttham\n20")## formatted string we can format
print(f"hi{name}")
print("hi{name}")

Gowtham\n20
gowttham
20
higowtham
hi{name}

In [27]:
print(a.replace('o','a'))
print(a.replace('o','1'))
print(a.startswith('h'))

hi hella everyane
hi hell1 every1ne
True

In [40]:
# split and join impooo


AA="gowtham is a student"
BB="student"
print(AA.split())
print(AA.split('w'))

['gowtham', 'is', 'a', 'student']
['go', 'tham is a student']
<list_reverseiterator object at 0x799522ffa830>

In [41]:
## join only in list

a=['a','aa','aa']
print("".join(a))

aaaaa

In [58]:
## slicing

slicings="malayalam"
print(slicings[4])
print(slicings[4:])
print(slicings[:5])
print(slicings[4:11])
print(slicings[4::-1])
print(slicings[0:10:2])

print(slicings[::-1])

if slicings==slicings[::-1]:
    print("palindrome")
else:
    print("not palindrome")
print(slicings.capitalize()[0:6])#capitalize and slice
print(slicings[0:6].capitalize())#slice and capitalize
print(slicings[len(slicings)-2])#get last letter find the len and put a slice in it to find last

y
yalam
malay
yalam
yalam
mlylm
malayalam
palindrome
Malaya
Malaya
a