<a href="https://colab.research.google.com/github/gowtham-dd/Data-Science-Basics/blob/main/Connecting_sql_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#connecting mysql and python
# step 1 install packages
#!pip install mysql-connector-python

In [ ]:
import mysql.connector # type: ignore




mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",


)


print(mydb)
mycursor = mydb.cursor(buffered=True)

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 9.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [2]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "4PFhDQQc2yhfCUH.root",
  password = "tzNB9UAMnXNidi62",
  database = "sampleTable",

)
mycursor = connection.cursor(buffered=True)

In [ ]:
mycursor.execute("create database table1")

In [ ]:
#creating db using for

a=["guvi1","guvi2","guvi3"]
for i in a:
  mycursor.execute(f"create database {i}")

In [ ]:
mycursor.execute("drop database guvi3")

In [ ]:
mycursor.execute("create table guvi1.table1(id int,name varchar(20),rollnum int)")

In [ ]:
mycursor.execute("use guvi1")
mycursor.execute("show tables")
for i in mycursor:#100% for to be used for printing any result that is retreving
  print(" ".join(i))

table1

In [ ]:
#insert in table
mycursor.execute("insert into table1 values(1,'guvi',123)")

In [ ]:
mycursor.execute("select * from table1")
connection.commit()#saving when updated or inserted
for i in mycursor:
  print(i,end=" ")

(1, 'guvi', 123)

In [ ]:
a=int(input())
b=input()
c=int(input())
mycursor.execute(f"insert into guvi1.table1 values({a},'{b}',{c})")
connection.commit()

2
gowtham
11

In [ ]:
mycursor.execute("describe guvi1.table1")
for i in mycursor:
  print(i)

('id', 'int(11)', 'YES', '', None, '')
('name', 'varchar(20)', 'YES', '', None, '')
('rollnum', 'int(11)', 'YES', '', None, '')

In [ ]:
import mysql.connector
from mysql.connector import Error


try:
   connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "4PFhDQQc2yhfCUH.root",
  password = "tzNB9UAMnXNidi62",
  database = "sampleTable",
   )


   if connection.is_connected():
       cursor = connection.cursor()
       cursor.execute("SELECT * FROM guvi1")




except Error as e:
   print(f"Error: {e}")


finally:
   if connection.is_connected():
       cursor.close()
       connection.close()
       print("MySQL connection is closed")

Error: 1146 (42S02): Table 'sampletable.guvi1' doesn't exist
MySQL connection is closed

In [ ]:
!pip install gradio

Collecting gradio
  Downloading gradio-5.16.0-py3-none-any.whl.metadata (16 kB)
Collecting aiofiles<24.0,>=22.0 (from gradio)
  Downloading aiofiles-23.2.1-py3-none-any.whl.metadata (9.7 kB)
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (3.7.1)
Collecting fastapi<1.0,>=0.115.2 (from gradio)
  Downloading fastapi-0.115.8-py3-none-any.whl.metadata (27 kB)
Collecting ffmpy (from gradio)
  Downloading ffmpy-0.5.0-py3-none-any.whl.metadata (3.0 kB)
Collecting gradio-client==1.7.0 (from gradio)
  Downloading gradio_client-1.7.0-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: httpx>=0.24.1 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.28.1)
Requirement already satisfied: huggingface-hub>=0.28.1 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.28.1)
Requirement already satisfied: jinja2<4.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (3.1.5)
Collecting markupsafe~=2.0 (from gradio)
  Downloading MarkupSafe-2.1.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy<3.0,>=1.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (1.26.4)
Requirement already satisfied: orjson~=3.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (3.10.15)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from gradio) (24.2)
Requirement already satisfied: pandas<3.0,>=1.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (2.2.2)
Requirement already satisfied: pillow<12.0,>=8.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (11.1.0)
Requirement already satisfied: pydantic>=2.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (2.10.6)
Collecting pydub (from gradio)
  Downloading pydub-0.25.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting python-multipart>=0.0.18 (from gradio)
  Downloading python_multipart-0.0.20-py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: pyyaml<7.0,>=5.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (6.0.2)
Collecting ruff>=0.9.3 (from gradio)
  Downloading ruff-0.9.6-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (25 kB)
Collecting safehttpx<0.2.0,>=0.1.6 (from gradio)
  Downloading safehttpx-0.1.6-py3-none-any.whl.metadata (4.2 kB)
Collecting semantic-version~=2.0 (from gradio)
  Downloading semantic_version-2.10.0-py2.py3-none-any.whl.metadata (9.7 kB)
Collecting starlette<1.0,>=0.40.0 (from gradio)
  Downloading starlette-0.45.3-py3-none-any.whl.metadata (6.3 kB)
Collecting tomlkit<0.14.0,>=0.12.0 (from gradio)
  Downloading tomlkit-0.13.2-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: typer<1.0,>=0.12 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.15.1)
Requirement already satisfied: typing-extensions~=4.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (4.12.2)
Collecting uvicorn>=0.14.0 (from gradio)
  Downloading uvicorn-0.34.0-py3-none-any.whl.metadata (6.5 kB)
Requirement already satisfied: fsspec in /usr/local/lib/python3.11/dist-packages (from gradio-client==1.7.0->gradio) (2024.10.0)
Requirement already satisfied: websockets<15.0,>=10.0 in /usr/local/lib/python3.11/dist-packages (from gradio-client==1.7.0->gradio) (14.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.11/dist-packages (from anyio<5.0,>=3.0->gradio) (3.10)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.11/dist-packages (from anyio<5.0,>=3.0->gradio) (1.3.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx>=0.24.1->gradio) (2025.1.31)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx>=0.24.1->gradio) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx>=0.24.1->gradio) (0.14.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.28.1->gradio) (3.17.0)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.28.1->gradio) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.28.1->gradio) (4.67.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0,>=1.0->gradio) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0,>=1.0->gradio) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0,>=1.0->gradio) (2025.1)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic>=2.0->gradio) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in /usr/local/lib/python3.11/dist-packages (from pydantic>=2.0->gradio) (2.27.2)
Requirement already satisfied: click>=8.0.0 in /usr/local/lib/python3.11/dist-packages (from typer<1.0,>=0.12->gradio) (8.1.8)
Requirement already satisfied: shellingham>=1.3.0 in /usr/local/lib/python3.11/dist-packages (from typer<1.0,>=0.12->gradio) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.11/dist-packages (from typer<1.0,>=0.12->gradio) (13.9.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3.0,>=1.0->gradio) (1.17.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (2.18.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->huggingface-hub>=0.28.1->gradio) (3.4.1)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->huggingface-hub>=0.28.1->gradio) (2.3.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0,>=0.12->gradio) (0.1.2)
Downloading gradio-5.16.0-py3-none-any.whl (62.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.2/62.2 MB 9.6 MB/s eta 0:00:00
Downloading gradio_client-1.7.0-py3-none-any.whl (321 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 321.9/321.9 kB 16.9 MB/s eta 0:00:00
Downloading aiofiles-23.2.1-py3-none-any.whl (15 kB)
Downloading fastapi-0.115.8-py3-none-any.whl (94 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.8/94.8 kB 6.0 MB/s eta 0:00:00
Downloading MarkupSafe-2.1.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (28 kB)
Downloading python_multipart-0.0.20-py3-none-any.whl (24 kB)
Downloading ruff-0.9.6-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.5/12.5 MB 85.5 MB/s eta 0:00:00
Downloading safehttpx-0.1.6-py3-none-any.whl (8.7 kB)
Downloading semantic_version-2.10.0-py2.py3-none-any.whl (15 kB)
Downloading starlette-0.45.3-py3-none-any.whl (71 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.5/71.5 kB 4.3 MB/s eta 0:00:00
Downloading tomlkit-0.13.2-py3-none-any.whl (37 kB)
Downloading uvicorn-0.34.0-py3-none-any.whl (62 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.3/62.3 kB 3.7 MB/s eta 0:00:00
Downloading ffmpy-0.5.0-py3-none-any.whl (6.0 kB)
Downloading pydub-0.25.1-py2.py3-none-any.whl (32 kB)
Installing collected packages: pydub, uvicorn, tomlkit, semantic-version, ruff, python-multipart, markupsafe, ffmpy, aiofiles, starlette, safehttpx, gradio-client, fastapi, gradio
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 3.0.2
    Uninstalling MarkupSafe-3.0.2:
      Successfully uninstalled MarkupSafe-3.0.2
Successfully installed aiofiles-23.2.1 fastapi-0.115.8 ffmpy-0.5.0 gradio-5.16.0 gradio-client-1.7.0 markupsafe-2.1.5 pydub-0.25.1 python-multipart-0.0.20 ruff-0.9.6 safehttpx-0.1.6 semantic-version-2.10.0 starlette-0.45.3 tomlkit-0.13.2 uvicorn-0.34.0

In [ ]:
import gradio as gr


def greet(name):
    return "pls watch " + name + "!"


demo = gr.Interface(fn=greet, inputs="textbox", outputs="textbox")

if __name__ == "__main__":
    demo.launch()

Running Gradio in a Colab notebook requires sharing enabled. Automatically setting `share=True` (you can turn this off by setting `share=False` in `launch()` explicitly).

Colab notebook detected. To show errors in colab notebook, set debug=True in launch()
* Running on public URL: https://58566cda6fdd1699ee.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)

In [ ]:
import gradio as gr
import mysql.connector

# Database connection
conn = mysql.connector.connect(
    host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "4PFhDQQc2yhfCUH.root",
  password = "tzNB9UAMnXNidi62",
  database = "sampleTable",
)
cursor = conn.cursor()

# Ensure table exists
cursor.execute("""
    CREATE TABLE IF NOT EXISTS guvi1.employees (
        id INT AUTO_INCREMENT PRIMARY KEY,
        employee_name VARCHAR(255) NOT NULL
    )
""")
conn.commit()

# Function to insert employee name into the database
def add_employee(employee_name):
    if not employee_name.strip():
        return "Please enter a valid employee name."

    cursor.execute("INSERT INTO guvi1.employees (employee_name) VALUES (%s)", (employee_name,))
    conn.commit()


    return f"Employee '{employee_name}' added successfully!"

# Gradio interface
iface = gr.Interface(
    fn=add_employee,
    inputs=gr.Textbox(label="Enter Employee Name"),
    outputs="text",
    title="Employee Entry App",
    description="Enter an employee name and store it in the MySQL database."
)

# Launch the app
iface.launch()

Running Gradio in a Colab notebook requires sharing enabled. Automatically setting `share=True` (you can turn this off by setting `share=False` in `launch()` explicitly).

Colab notebook detected. To show errors in colab notebook, set debug=True in launch()
* Running on public URL: https://fdab28e15ead4ef337.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)

In [29]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "4PFhDQQc2yhfCUH.root",
  password = "tzNB9UAMnXNidi62",
  database = "sampleTable",

)
mycursor = connection.cursor(buffered=True)

In [ ]:
#DDL
mycursor.execute("create table guvi1.table2(id int,name varchar(50))")

In [ ]:
#alter
mycursor.execute("alter table guvi1.table2 add column age int")

In [ ]:
#first
mycursor.execute("alter table guvi1.table2 add column rollnum int first")

In [ ]:
#after
mycursor.execute("alter table guvi1.table2 add column address varchar(50) after rollnum")

In [ ]:
#drop
mycursor.execute("alter table guvi1.table2 drop column address")

In [ ]:
#rename
mycursor.execute("alter table guvi1.table2 rename column rollnum to sno")

In [ ]:
#data type changing
mycursor.execute("alter table guvi1.table2 modify column sno varchar(50)")

In [ ]:
mycursor.execute("describe guvi1.table1")
for i in mycursor:
  print(i)

ProgrammingError: 1146 (42S02): Table 'guvi1.table1' doesn't exist

In [ ]:
mycursor.execute("Select * from guvi1.Diabeted")

In [ ]:
for i in mycursor:
  print(i)

(6, 148, 72, 35, 0, 33.6, 0.627, 50, 1)
(1, 85, 66, 29, 0, 26.6, 0.351, 31, 0)
(8, 183, 64, 0, 0, 23.3, 0.672, 32, 1)
(1, 89, 66, 23, 94, 28.1, 0.167, 21, 0)
(0, 137, 40, 35, 168, 43.1, 2.288, 33, 1)
(5, 116, 74, 0, 0, 25.6, 0.201, 30, 0)
(3, 78, 50, 32, 88, 31.0, 0.248, 26, 1)
(10, 115, 0, 0, 0, 35.3, 0.134, 29, 0)
(2, 197, 70, 45, 543, 30.5, 0.158, 53, 1)
(8, 125, 96, 0, 0, 0.0, 0.232, 54, 1)
(4, 110, 92, 0, 0, 37.6, 0.191, 30, 0)
(10, 168, 74, 0, 0, 38.0, 0.537, 34, 1)
(10, 139, 80, 0, 0, 27.1, 1.441, 57, 0)
(1, 189, 60, 23, 846, 30.1, 0.398, 59, 1)
(5, 166, 72, 19, 175, 25.8, 0.587, 51, 1)
(7, 100, 0, 0, 0, 30.0, 0.484, 32, 1)
(0, 118, 84, 47, 230, 45.8, 0.551, 31, 1)
(7, 107, 74, 0, 0, 29.6, 0.254, 31, 1)
(1, 103, 30, 38, 83, 43.3, 0.183, 33, 0)
(1, 115, 70, 30, 96, 34.6, 0.529, 32, 1)
(3, 126, 88, 41, 235, 39.3, 0.704, 27, 0)
(8, 99, 84, 0, 0, 35.4, 0.388, 50, 0)
(7, 196, 90, 0, 0, 39.8, 0.451, 41, 1)
(9, 119, 80, 35, 0, 29.0, 0.263, 29, 1)
(11, 143, 94, 33, 146, 36.6, 0.254, 51, 1)
(10, 125, 70, 26, 115, 31.1, 0.205, 41, 1)
(7, 147, 76, 0, 0, 39.4, 0.257, 43, 1)
(1, 97, 66, 15, 140, 23.2, 0.487, 22, 0)
(13, 145, 82, 19, 110, 22.2, 0.245, 57, 0)
(5, 117, 92, 0, 0, 34.1, 0.337, 38, 0)
(5, 109, 75, 26, 0, 36.0, 0.546, 60, 0)
(3, 158, 76, 36, 245, 31.6, 0.851, 28, 1)
(3, 88, 58, 11, 54, 24.8, 0.267, 22, 0)
(6, 92, 92, 0, 0, 19.9, 0.188, 28, 0)
(10, 122, 78, 31, 0, 27.6, 0.512, 45, 0)
(4, 103, 60, 33, 192, 24.0, 0.966, 33, 0)
(11, 138, 76, 0, 0, 33.2, 0.42, 35, 0)
(9, 102, 76, 37, 0, 32.9, 0.665, 46, 1)
(2, 90, 68, 42, 0, 38.2, 0.503, 27, 1)
(4, 111, 72, 47, 207, 37.1, 1.39, 56, 1)
(3, 180, 64, 25, 70, 34.0, 0.271, 26, 0)
(7, 133, 84, 0, 0, 40.2, 0.696, 37, 0)
(7, 106, 92, 18, 0, 22.7, 0.235, 48, 0)
(9, 171, 110, 24, 240, 45.4, 0.721, 54, 1)
(7, 159, 64, 0, 0, 27.4, 0.294, 40, 0)
(0, 180, 66, 39, 0, 42.0, 1.893, 25, 1)
(1, 146, 56, 0, 0, 29.7, 0.564, 29, 0)
(2, 71, 70, 27, 0, 28.0, 0.586, 22, 0)
(7, 103, 66, 32, 0, 39.1, 0.344, 31, 1)
(7, 105, 0, 0, 0, 0.0, 0.305, 24, 0)
(1, 103, 80, 11, 82, 19.4, 0.491, 22, 0)
(1, 101, 50, 15, 36, 24.2, 0.526, 26, 0)
(5, 88, 66, 21, 23, 24.4, 0.342, 30, 0)
(8, 176, 90, 34, 300, 33.7, 0.467, 58, 1)
(7, 150, 66, 42, 342, 34.7, 0.718, 42, 0)
(1, 73, 50, 10, 0, 23.0, 0.248, 21, 0)
(7, 187, 68, 39, 304, 37.7, 0.254, 41, 1)
(0, 100, 88, 60, 110, 46.8, 0.962, 31, 0)
(0, 146, 82, 0, 0, 40.5, 1.781, 44, 0)
(0, 105, 64, 41, 142, 41.5, 0.173, 22, 0)
(2, 84, 0, 0, 0, 0.0, 0.304, 21, 0)
(8, 133, 72, 0, 0, 32.9, 0.27, 39, 1)
(5, 44, 62, 0, 0, 25.0, 0.587, 36, 0)
(2, 141, 58, 34, 128, 25.4, 0.699, 24, 0)
(7, 114, 66, 0, 0, 32.8, 0.258, 42, 1)
(5, 99, 74, 27, 0, 29.0, 0.203, 32, 0)
(0, 109, 88, 30, 0, 32.5, 0.855, 38, 1)
(2, 109, 92, 0, 0, 42.7, 0.845, 54, 0)
(1, 95, 66, 13, 38, 19.6, 0.334, 25, 0)
(4, 146, 85, 27, 100, 28.9, 0.189, 27, 0)
(2, 100, 66, 20, 90, 32.9, 0.867, 28, 1)
(5, 139, 64, 35, 140, 28.6, 0.411, 26, 0)
(13, 126, 90, 0, 0, 43.4, 0.583, 42, 1)
(4, 129, 86, 20, 270, 35.1, 0.231, 23, 0)
(1, 79, 75, 30, 0, 32.0, 0.396, 22, 0)
(1, 0, 48, 20, 0, 24.7, 0.14, 22, 0)
(7, 62, 78, 0, 0, 32.6, 0.391, 41, 0)
(5, 95, 72, 33, 0, 37.7, 0.37, 27, 0)
(0, 131, 0, 0, 0, 43.2, 0.27, 26, 1)
(2, 112, 66, 22, 0, 25.0, 0.307, 24, 0)
(3, 113, 44, 13, 0, 22.4, 0.14, 22, 0)
(2, 74, 0, 0, 0, 0.0, 0.102, 22, 0)
(7, 83, 78, 26, 71, 29.3, 0.767, 36, 0)
(0, 101, 65, 28, 0, 24.6, 0.237, 22, 0)
(5, 137, 108, 0, 0, 48.8, 0.227, 37, 1)
(2, 110, 74, 29, 125, 32.4, 0.698, 27, 0)
(13, 106, 72, 54, 0, 36.6, 0.178, 45, 0)
(2, 100, 68, 25, 71, 38.5, 0.324, 26, 0)
(15, 136, 70, 32, 110, 37.1, 0.153, 43, 1)
(1, 107, 68, 19, 0, 26.5, 0.165, 24, 0)
(1, 80, 55, 0, 0, 19.1, 0.258, 21, 0)
(4, 123, 80, 15, 176, 32.0, 0.443, 34, 0)
(7, 81, 78, 40, 48, 46.7, 0.261, 42, 0)
(4, 134, 72, 0, 0, 23.8, 0.277, 60, 1)
(2, 142, 82, 18, 64, 24.7, 0.761, 21, 0)
(6, 144, 72, 27, 228, 33.9, 0.255, 40, 0)
(2, 92, 62, 28, 0, 31.6, 0.13, 24, 0)
(1, 71, 48, 18, 76, 20.4, 0.323, 22, 0)
(6, 93, 50, 30, 64, 28.7, 0.356, 23, 0)
(1, 122, 90, 51, 220, 49.7, 0.325, 31, 1)
(1, 163, 72, 0, 0, 39.0, 1.222, 33, 1)
(1, 151, 60, 0, 0, 26.1, 0.179, 22, 0)
(0, 125, 96, 0, 0, 22.5, 0.262, 21, 0)
(1, 81, 72, 18, 40, 26.6, 0.283, 24, 0)
(2, 85, 65, 0, 0, 39.6, 0.93, 27, 0)
(1, 126, 56, 29, 152, 28.7, 0.801, 21, 0)
(1, 96, 122, 0, 0, 22.4, 0.207, 27, 0)
(4, 144, 58, 28, 140, 29.5, 0.287, 37, 0)
(3, 83, 58, 31, 18, 34.3, 0.336, 25, 0)
(0, 95, 85, 25, 36, 37.4, 0.247, 24, 1)
(3, 171, 72, 33, 135, 33.3, 0.199, 24, 1)
(8, 155, 62, 26, 495, 34.0, 0.543, 46, 1)
(1, 89, 76, 34, 37, 31.2, 0.192, 23, 0)
(4, 76, 62, 0, 0, 34.0, 0.391, 25, 0)
(7, 160, 54, 32, 175, 30.5, 0.588, 39, 1)
(4, 146, 92, 0, 0, 31.2, 0.539, 61, 1)
(5, 124, 74, 0, 0, 34.0, 0.22, 38, 1)
(5, 78, 48, 0, 0, 33.7, 0.654, 25, 0)
(4, 97, 60, 23, 0, 28.2, 0.443, 22, 0)
(4, 99, 76, 15, 51, 23.2, 0.223, 21, 0)
(0, 162, 76, 56, 100, 53.2, 0.759, 25, 1)
(6, 111, 64, 39, 0, 34.2, 0.26, 24, 0)
(2, 107, 74, 30, 100, 33.6, 0.404, 23, 0)
(5, 132, 80, 0, 0, 26.8, 0.186, 69, 0)
(0, 113, 76, 0, 0, 33.3, 0.278, 23, 1)
(1, 88, 30, 42, 99, 55.0, 0.496, 26, 1)
(3, 120, 70, 30, 135, 42.9, 0.452, 30, 0)
(1, 118, 58, 36, 94, 33.3, 0.261, 23, 0)
(1, 117, 88, 24, 145, 34.5, 0.403, 40, 1)
(0, 105, 84, 0, 0, 27.9, 0.741, 62, 1)
(4, 173, 70, 14, 168, 29.7, 0.361, 33, 1)
(9, 122, 56, 0, 0, 33.3, 1.114, 33, 1)
(3, 170, 64, 37, 225, 34.5, 0.356, 30, 1)
(8, 84, 74, 31, 0, 38.3, 0.457, 39, 0)
(2, 96, 68, 13, 49, 21.1, 0.647, 26, 0)
(2, 125, 60, 20, 140, 33.8, 0.088, 31, 0)
(0, 100, 70, 26, 50, 30.8, 0.597, 21, 0)
(0, 93, 60, 25, 92, 28.7, 0.532, 22, 0)
(0, 129, 80, 0, 0, 31.2, 0.703, 29, 0)
(5, 105, 72, 29, 325, 36.9, 0.159, 28, 0)
(3, 128, 78, 0, 0, 21.1, 0.268, 55, 0)
(5, 106, 82, 30, 0, 39.5, 0.286, 38, 0)
(2, 108, 52, 26, 63, 32.5, 0.318, 22, 0)
(10, 108, 66, 0, 0, 32.4, 0.272, 42, 1)
(4, 154, 62, 31, 284, 32.8, 0.237, 23, 0)
(0, 102, 75, 23, 0, 0.0, 0.572, 21, 0)
(9, 57, 80, 37, 0, 32.8, 0.096, 41, 0)
(2, 106, 64, 35, 119, 30.5, 1.4, 34, 0)
(5, 147, 78, 0, 0, 33.7, 0.218, 65, 0)
(2, 90, 70, 17, 0, 27.3, 0.085, 22, 0)
(1, 136, 74, 50, 204, 37.4, 0.399, 24, 0)
(4, 114, 65, 0, 0, 21.9, 0.432, 37, 0)
(9, 156, 86, 28, 155, 34.3, 1.189, 42, 1)
(1, 153, 82, 42, 485, 40.6, 0.687, 23, 0)
(8, 188, 78, 0, 0, 47.9, 0.137, 43, 1)
(7, 152, 88, 44, 0, 50.0, 0.337, 36, 1)
(2, 99, 52, 15, 94, 24.6, 0.637, 21, 0)
(1, 109, 56, 21, 135, 25.2, 0.833, 23, 0)
(2, 88, 74, 19, 53, 29.0, 0.229, 22, 0)
(17, 163, 72, 41, 114, 40.9, 0.817, 47, 1)
(4, 151, 90, 38, 0, 29.7, 0.294, 36, 0)
(7, 102, 74, 40, 105, 37.2, 0.204, 45, 0)
(0, 114, 80, 34, 285, 44.2, 0.167, 27, 0)
(2, 100, 64, 23, 0, 29.7, 0.368, 21, 0)
(0, 131, 88, 0, 0, 31.6, 0.743, 32, 1)
(6, 104, 74, 18, 156, 29.9, 0.722, 41, 1)
(3, 148, 66, 25, 0, 32.5, 0.256, 22, 0)
(4, 120, 68, 0, 0, 29.6, 0.709, 34, 0)
(4, 110, 66, 0, 0, 31.9, 0.471, 29, 0)
(3, 111, 90, 12, 78, 28.4, 0.495, 29, 0)
(6, 102, 82, 0, 0, 30.8, 0.18, 36, 1)
(6, 134, 70, 23, 130, 35.4, 0.542, 29, 1)
(2, 87, 0, 23, 0, 28.9, 0.773, 25, 0)
(1, 79, 60, 42, 48, 43.5, 0.678, 23, 0)
(2, 75, 64, 24, 55, 29.7, 0.37, 33, 0)
(8, 179, 72, 42, 130, 32.7, 0.719, 36, 1)
(6, 85, 78, 0, 0, 31.2, 0.382, 42, 0)
(0, 129, 110, 46, 130, 67.1, 0.319, 26, 1)
(5, 143, 78, 0, 0, 45.0, 0.19, 47, 0)
(5, 130, 82, 0, 0, 39.1, 0.956, 37, 1)
(6, 87, 80, 0, 0, 23.2, 0.084, 32, 0)
(0, 119, 64, 18, 92, 34.9, 0.725, 23, 0)
(1, 0, 74, 20, 23, 27.7, 0.299, 21, 0)
(5, 73, 60, 0, 0, 26.8, 0.268, 27, 0)
(4, 141, 74, 0, 0, 27.6, 0.244, 40, 0)
(7, 194, 68, 28, 0, 35.9, 0.745, 41, 1)
(8, 181, 68, 36, 495, 30.1, 0.615, 60, 1)
(1, 128, 98, 41, 58, 32.0, 1.321, 33, 1)
(8, 109, 76, 39, 114, 27.9, 0.64, 31, 1)
(5, 139, 80, 35, 160, 31.6, 0.361, 25, 1)
(3, 111, 62, 0, 0, 22.6, 0.142, 21, 0)
(9, 123, 70, 44, 94, 33.1, 0.374, 40, 0)
(7, 159, 66, 0, 0, 30.4, 0.383, 36, 1)
(11, 135, 0, 0, 0, 52.3, 0.578, 40, 1)
(8, 85, 55, 20, 0, 24.4, 0.136, 42, 0)
(5, 158, 84, 41, 210, 39.4, 0.395, 29, 1)
(1, 105, 58, 0, 0, 24.3, 0.187, 21, 0)
(3, 107, 62, 13, 48, 22.9, 0.678, 23, 1)
(4, 109, 64, 44, 99, 34.8, 0.905, 26, 1)
(4, 148, 60, 27, 318, 30.9, 0.15, 29, 1)
(0, 113, 80, 16, 0, 31.0, 0.874, 21, 0)
(1, 138, 82, 0, 0, 40.1, 0.236, 28, 0)
(0, 108, 68, 20, 0, 27.3, 0.787, 32, 0)
(2, 99, 70, 16, 44, 20.4, 0.235, 27, 0)
(6, 103, 72, 32, 190, 37.7, 0.324, 55, 0)
(5, 111, 72, 28, 0, 23.9, 0.407, 27, 0)
(8, 196, 76, 29, 280, 37.5, 0.605, 57, 1)
(5, 162, 104, 0, 0, 37.7, 0.151, 52, 1)
(1, 96, 64, 27, 87, 33.2, 0.289, 21, 0)
(7, 184, 84, 33, 0, 35.5, 0.355, 41, 1)
(2, 81, 60, 22, 0, 27.7, 0.29, 25, 0)
(0, 147, 85, 54, 0, 42.8, 0.375, 24, 0)
(7, 179, 95, 31, 0, 34.2, 0.164, 60, 0)
(0, 140, 65, 26, 130, 42.6, 0.431, 24, 1)
(9, 112, 82, 32, 175, 34.2, 0.26, 36, 1)
(12, 151, 70, 40, 271, 41.8, 0.742, 38, 1)
(5, 109, 62, 41, 129, 35.8, 0.514, 25, 1)
(6, 125, 68, 30, 120, 30.0, 0.464, 32, 0)
(5, 85, 74, 22, 0, 29.0, 1.224, 32, 1)
(5, 112, 66, 0, 0, 37.8, 0.261, 41, 1)
(0, 177, 60, 29, 478, 34.6, 1.072, 21, 1)
(2, 158, 90, 0, 0, 31.6, 0.805, 66, 1)
(7, 119, 0, 0, 0, 25.2, 0.209, 37, 0)
(7, 142, 60, 33, 190, 28.8, 0.687, 61, 0)
(1, 100, 66, 15, 56, 23.6, 0.666, 26, 0)
(1, 87, 78, 27, 32, 34.6, 0.101, 22, 0)
(0, 101, 76, 0, 0, 35.7, 0.198, 26, 0)
(3, 162, 52, 38, 0, 37.2, 0.652, 24, 1)
(4, 197, 70, 39, 744, 36.7, 2.329, 31, 0)
(0, 117, 80, 31, 53, 45.2, 0.089, 24, 0)
(4, 142, 86, 0, 0, 44.0, 0.645, 22, 1)
(6, 134, 80, 37, 370, 46.2, 0.238, 46, 1)
(1, 79, 80, 25, 37, 25.4, 0.583, 22, 0)
(4, 122, 68, 0, 0, 35.0, 0.394, 29, 0)
(3, 74, 68, 28, 45, 29.7, 0.293, 23, 0)
(4, 171, 72, 0, 0, 43.6, 0.479, 26, 1)
(7, 181, 84, 21, 192, 35.9, 0.586, 51, 1)
(0, 179, 90, 27, 0, 44.1, 0.686, 23, 1)
(9, 164, 84, 21, 0, 30.8, 0.831, 32, 1)
(0, 104, 76, 0, 0, 18.4, 0.582, 27, 0)
(1, 91, 64, 24, 0, 29.2, 0.192, 21, 0)
(4, 91, 70, 32, 88, 33.1, 0.446, 22, 0)
(3, 139, 54, 0, 0, 25.6, 0.402, 22, 1)
(6, 119, 50, 22, 176, 27.1, 1.318, 33, 1)
(2, 146, 76, 35, 194, 38.2, 0.329, 29, 0)
(9, 184, 85, 15, 0, 30.0, 1.213, 49, 1)
(10, 122, 68, 0, 0, 31.2, 0.258, 41, 0)
(0, 165, 90, 33, 680, 52.3, 0.427, 23, 0)
(9, 124, 70, 33, 402, 35.4, 0.282, 34, 0)
(1, 111, 86, 19, 0, 30.1, 0.143, 23, 0)
(9, 106, 52, 0, 0, 31.2, 0.38, 42, 0)
(2, 129, 84, 0, 0, 28.0, 0.284, 27, 0)
(2, 90, 80, 14, 55, 24.4, 0.249, 24, 0)
(0, 86, 68, 32, 0, 35.8, 0.238, 25, 0)
(12, 92, 62, 7, 258, 27.6, 0.926, 44, 1)
(1, 113, 64, 35, 0, 33.6, 0.543, 21, 1)
(3, 111, 56, 39, 0, 30.1, 0.557, 30, 0)
(2, 114, 68, 22, 0, 28.7, 0.092, 25, 0)
(1, 193, 50, 16, 375, 25.9, 0.655, 24, 0)
(11, 155, 76, 28, 150, 33.3, 1.353, 51, 1)
(3, 191, 68, 15, 130, 30.9, 0.299, 34, 0)
(3, 141, 0, 0, 0, 30.0, 0.761, 27, 1)
(4, 95, 70, 32, 0, 32.1, 0.612, 24, 0)
(3, 142, 80, 15, 0, 32.4, 0.2, 63, 0)
(4, 123, 62, 0, 0, 32.0, 0.226, 35, 1)
(5, 96, 74, 18, 67, 33.6, 0.997, 43, 0)
(0, 138, 0, 0, 0, 36.3, 0.933, 25, 1)
(2, 128, 64, 42, 0, 40.0, 1.101, 24, 0)
(0, 102, 52, 0, 0, 25.1, 0.078, 21, 0)
(2, 146, 0, 0, 0, 27.5, 0.24, 28, 1)
(10, 101, 86, 37, 0, 45.6, 1.136, 38, 1)
(2, 108, 62, 32, 56, 25.2, 0.128, 21, 0)
(3, 122, 78, 0, 0, 23.0, 0.254, 40, 0)
(1, 71, 78, 50, 45, 33.2, 0.422, 21, 0)
(13, 106, 70, 0, 0, 34.2, 0.251, 52, 0)
(2, 100, 70, 52, 57, 40.5, 0.677, 25, 0)
(7, 106, 60, 24, 0, 26.5, 0.296, 29, 1)
(0, 104, 64, 23, 116, 27.8, 0.454, 23, 0)
(5, 114, 74, 0, 0, 24.9, 0.744, 57, 0)
(2, 108, 62, 10, 278, 25.3, 0.881, 22, 0)
(0, 146, 70, 0, 0, 37.9, 0.334, 28, 1)
(10, 129, 76, 28, 122, 35.9, 0.28, 39, 0)
(7, 133, 88, 15, 155, 32.4, 0.262, 37, 0)
(7, 161, 86, 0, 0, 30.4, 0.165, 47, 1)
(2, 108, 80, 0, 0, 27.0, 0.259, 52, 1)
(7, 136, 74, 26, 135, 26.0, 0.647, 51, 0)
(5, 155, 84, 44, 545, 38.7, 0.619, 34, 0)
(1, 119, 86, 39, 220, 45.6, 0.808, 29, 1)
(4, 96, 56, 17, 49, 20.8, 0.34, 26, 0)
(5, 108, 72, 43, 75, 36.1, 0.263, 33, 0)
(0, 78, 88, 29, 40, 36.9, 0.434, 21, 0)
(0, 107, 62, 30, 74, 36.6, 0.757, 25, 1)
(2, 128, 78, 37, 182, 43.3, 1.224, 31, 1)
(1, 128, 48, 45, 194, 40.5, 0.613, 24, 1)
(0, 161, 50, 0, 0, 21.9, 0.254, 65, 0)
(6, 151, 62, 31, 120, 35.5, 0.692, 28, 0)
(2, 146, 70, 38, 360, 28.0, 0.337, 29, 1)
(0, 126, 84, 29, 215, 30.7, 0.52, 24, 0)
(14, 100, 78, 25, 184, 36.6, 0.412, 46, 1)
(8, 112, 72, 0, 0, 23.6, 0.84, 58, 0)
(0, 167, 0, 0, 0, 32.3, 0.839, 30, 1)
(2, 144, 58, 33, 135, 31.6, 0.422, 25, 1)
(5, 77, 82, 41, 42, 35.8, 0.156, 35, 0)
(5, 115, 98, 0, 0, 52.9, 0.209, 28, 1)
(3, 150, 76, 0, 0, 21.0, 0.207, 37, 0)
(2, 120, 76, 37, 105, 39.7, 0.215, 29, 0)
(10, 161, 68, 23, 132, 25.5, 0.326, 47, 1)
(0, 137, 68, 14, 148, 24.8, 0.143, 21, 0)
(0, 128, 68, 19, 180, 30.5, 1.391, 25, 1)
(2, 124, 68, 28, 205, 32.9, 0.875, 30, 1)
(6, 80, 66, 30, 0, 26.2, 0.313, 41, 0)
(0, 106, 70, 37, 148, 39.4, 0.605, 22, 0)
(2, 155, 74, 17, 96, 26.6, 0.433, 27, 1)
(3, 113, 50, 10, 85, 29.5, 0.626, 25, 0)
(7, 109, 80, 31, 0, 35.9, 1.127, 43, 1)
(2, 112, 68, 22, 94, 34.1, 0.315, 26, 0)
(3, 99, 80, 11, 64, 19.3, 0.284, 30, 0)
(3, 182, 74, 0, 0, 30.5, 0.345, 29, 1)
(3, 115, 66, 39, 140, 38.1, 0.15, 28, 0)
(6, 194, 78, 0, 0, 23.5, 0.129, 59, 1)
(4, 129, 60, 12, 231, 27.5, 0.527, 31, 0)
(3, 112, 74, 30, 0, 31.6, 0.197, 25, 1)
(0, 124, 70, 20, 0, 27.4, 0.254, 36, 1)
(13, 152, 90, 33, 29, 26.8, 0.731, 43, 1)
(2, 112, 75, 32, 0, 35.7, 0.148, 21, 0)
(1, 157, 72, 21, 168, 25.6, 0.123, 24, 0)
(1, 122, 64, 32, 156, 35.1, 0.692, 30, 1)
(10, 179, 70, 0, 0, 35.1, 0.2, 37, 0)
(2, 102, 86, 36, 120, 45.5, 0.127, 23, 1)
(6, 105, 70, 32, 68, 30.8, 0.122, 37, 0)
(8, 118, 72, 19, 0, 23.1, 1.476, 46, 0)
(2, 87, 58, 16, 52, 32.7, 0.166, 25, 0)
(1, 180, 0, 0, 0, 43.3, 0.282, 41, 1)
(12, 106, 80, 0, 0, 23.6, 0.137, 44, 0)
(1, 95, 60, 18, 58, 23.9, 0.26, 22, 0)
(0, 165, 76, 43, 255, 47.9, 0.259, 26, 0)
(0, 117, 0, 0, 0, 33.8, 0.932, 44, 0)
(5, 115, 76, 0, 0, 31.2, 0.343, 44, 1)
(9, 152, 78, 34, 171, 34.2, 0.893, 33, 1)
(7, 178, 84, 0, 0, 39.9, 0.331, 41, 1)
(1, 130, 70, 13, 105, 25.9, 0.472, 22, 0)
(1, 95, 74, 21, 73, 25.9, 0.673, 36, 0)
(1, 0, 68, 35, 0, 32.0, 0.389, 22, 0)
(5, 122, 86, 0, 0, 34.7, 0.29, 33, 0)
(8, 95, 72, 0, 0, 36.8, 0.485, 57, 0)
(8, 126, 88, 36, 108, 38.5, 0.349, 49, 0)
(1, 139, 46, 19, 83, 28.7, 0.654, 22, 0)
(3, 116, 0, 0, 0, 23.5, 0.187, 23, 0)
(3, 99, 62, 19, 74, 21.8, 0.279, 26, 0)
(5, 0, 80, 32, 0, 41.0, 0.346, 37, 1)
(4, 92, 80, 0, 0, 42.2, 0.237, 29, 0)
(4, 137, 84, 0, 0, 31.2, 0.252, 30, 0)
(3, 61, 82, 28, 0, 34.4, 0.243, 46, 0)
(1, 90, 62, 12, 43, 27.2, 0.58, 24, 0)
(3, 90, 78, 0, 0, 42.7, 0.559, 21, 0)
(9, 165, 88, 0, 0, 30.4, 0.302, 49, 1)
(1, 125, 50, 40, 167, 33.3, 0.962, 28, 1)
(13, 129, 0, 30, 0, 39.9, 0.569, 44, 1)
(12, 88, 74, 40, 54, 35.3, 0.378, 48, 0)
(1, 196, 76, 36, 249, 36.5, 0.875, 29, 1)
(5, 189, 64, 33, 325, 31.2, 0.583, 29, 1)
(5, 158, 70, 0, 0, 29.8, 0.207, 63, 0)
(5, 103, 108, 37, 0, 39.2, 0.305, 65, 0)
(4, 146, 78, 0, 0, 38.5, 0.52, 67, 1)
(4, 147, 74, 25, 293, 34.9, 0.385, 30, 0)
(5, 99, 54, 28, 83, 34.0, 0.499, 30, 0)
(6, 124, 72, 0, 0, 27.6, 0.368, 29, 1)
(0, 101, 64, 17, 0, 21.0, 0.252, 21, 0)
(3, 81, 86, 16, 66, 27.5, 0.306, 22, 0)
(1, 133, 102, 28, 140, 32.8, 0.234, 45, 1)
(3, 173, 82, 48, 465, 38.4, 2.137, 25, 1)
(0, 118, 64, 23, 89, 0.0, 1.731, 21, 0)
(0, 84, 64, 22, 66, 35.8, 0.545, 21, 0)
(2, 105, 58, 40, 94, 34.9, 0.225, 25, 0)
(2, 122, 52, 43, 158, 36.2, 0.816, 28, 0)
(12, 140, 82, 43, 325, 39.2, 0.528, 58, 1)
(0, 98, 82, 15, 84, 25.2, 0.299, 22, 0)
(1, 87, 60, 37, 75, 37.2, 0.509, 22, 0)
(4, 156, 75, 0, 0, 48.3, 0.238, 32, 1)
(0, 93, 100, 39, 72, 43.4, 1.021, 35, 0)
(1, 107, 72, 30, 82, 30.8, 0.821, 24, 0)
(0, 105, 68, 22, 0, 20.0, 0.236, 22, 0)
(1, 109, 60, 8, 182, 25.4, 0.947, 21, 0)
(1, 90, 62, 18, 59, 25.1, 1.268, 25, 0)
(1, 125, 70, 24, 110, 24.3, 0.221, 25, 0)
(1, 119, 54, 13, 50, 22.3, 0.205, 24, 0)
(5, 116, 74, 29, 0, 32.3, 0.66, 35, 1)
(8, 105, 100, 36, 0, 43.3, 0.239, 45, 1)
(5, 144, 82, 26, 285, 32.0, 0.452, 58, 1)
(3, 100, 68, 23, 81, 31.6, 0.949, 28, 0)
(1, 100, 66, 29, 196, 32.0, 0.444, 42, 0)
(5, 166, 76, 0, 0, 45.7, 0.34, 27, 1)
(1, 131, 64, 14, 415, 23.7, 0.389, 21, 0)
(4, 116, 72, 12, 87, 22.1, 0.463, 37, 0)
(4, 158, 78, 0, 0, 32.9, 0.803, 31, 1)
(2, 127, 58, 24, 275, 27.7, 1.6, 25, 0)
(3, 96, 56, 34, 115, 24.7, 0.944, 39, 0)
(0, 131, 66, 40, 0, 34.3, 0.196, 22, 1)
(3, 82, 70, 0, 0, 21.1, 0.389, 25, 0)
(3, 193, 70, 31, 0, 34.9, 0.241, 25, 1)
(4, 95, 64, 0, 0, 32.0, 0.161, 31, 1)
(6, 137, 61, 0, 0, 24.2, 0.151, 55, 0)
(5, 136, 84, 41, 88, 35.0, 0.286, 35, 1)
(9, 72, 78, 25, 0, 31.6, 0.28, 38, 0)
(5, 168, 64, 0, 0, 32.9, 0.135, 41, 1)
(2, 123, 48, 32, 165, 42.1, 0.52, 26, 0)
(4, 115, 72, 0, 0, 28.9, 0.376, 46, 1)
(0, 101, 62, 0, 0, 21.9, 0.336, 25, 0)
(8, 197, 74, 0, 0, 25.9, 1.191, 39, 1)
(1, 172, 68, 49, 579, 42.4, 0.702, 28, 1)
(6, 102, 90, 39, 0, 35.7, 0.674, 28, 0)
(1, 112, 72, 30, 176, 34.4, 0.528, 25, 0)
(1, 143, 84, 23, 310, 42.4, 1.076, 22, 0)
(1, 143, 74, 22, 61, 26.2, 0.256, 21, 0)
(0, 138, 60, 35, 167, 34.6, 0.534, 21, 1)
(3, 173, 84, 33, 474, 35.7, 0.258, 22, 1)
(1, 97, 68, 21, 0, 27.2, 1.095, 22, 0)
(4, 144, 82, 32, 0, 38.5, 0.554, 37, 1)
(1, 83, 68, 0, 0, 18.2, 0.624, 27, 0)
(3, 129, 64, 29, 115, 26.4, 0.219, 28, 1)
(1, 119, 88, 41, 170, 45.3, 0.507, 26, 0)
(2, 94, 68, 18, 76, 26.0, 0.561, 21, 0)
(0, 102, 64, 46, 78, 40.6, 0.496, 21, 0)
(2, 115, 64, 22, 0, 30.8, 0.421, 21, 0)
(8, 151, 78, 32, 210, 42.9, 0.516, 36, 1)
(4, 184, 78, 39, 277, 37.0, 0.264, 31, 1)
(0, 94, 0, 0, 0, 0.0, 0.256, 25, 0)
(1, 181, 64, 30, 180, 34.1, 0.328, 38, 1)
(0, 135, 94, 46, 145, 40.6, 0.284, 26, 0)
(1, 95, 82, 25, 180, 35.0, 0.233, 43, 1)
(2, 99, 0, 0, 0, 22.2, 0.108, 23, 0)
(3, 89, 74, 16, 85, 30.4, 0.551, 38, 0)
(1, 80, 74, 11, 60, 30.0, 0.527, 22, 0)
(2, 139, 75, 0, 0, 25.6, 0.167, 29, 0)
(1, 90, 68, 8, 0, 24.5, 1.138, 36, 0)
(0, 141, 0, 0, 0, 42.4, 0.205, 29, 1)
(12, 140, 85, 33, 0, 37.4, 0.244, 41, 0)
(5, 147, 75, 0, 0, 29.9, 0.434, 28, 0)
(1, 97, 70, 15, 0, 18.2, 0.147, 21, 0)
(6, 107, 88, 0, 0, 36.8, 0.727, 31, 0)
(0, 189, 104, 25, 0, 34.3, 0.435, 41, 1)
(2, 83, 66, 23, 50, 32.2, 0.497, 22, 0)
(4, 117, 64, 27, 120, 33.2, 0.23, 24, 0)
(8, 108, 70, 0, 0, 30.5, 0.955, 33, 1)
(4, 117, 62, 12, 0, 29.7, 0.38, 30, 1)
(0, 180, 78, 63, 14, 59.4, 2.42, 25, 1)
(1, 100, 72, 12, 70, 25.3, 0.658, 28, 0)
(0, 95, 80, 45, 92, 36.5, 0.33, 26, 0)
(0, 104, 64, 37, 64, 33.6, 0.51, 22, 1)
(0, 120, 74, 18, 63, 30.5, 0.285, 26, 0)
(1, 82, 64, 13, 95, 21.2, 0.415, 23, 0)
(2, 134, 70, 0, 0, 28.9, 0.542, 23, 1)
(0, 91, 68, 32, 210, 39.9, 0.381, 25, 0)
(2, 119, 0, 0, 0, 19.6, 0.832, 72, 0)
(2, 100, 54, 28, 105, 37.8, 0.498, 24, 0)
(14, 175, 62, 30, 0, 33.6, 0.212, 38, 1)
(1, 135, 54, 0, 0, 26.7, 0.687, 62, 0)
(5, 86, 68, 28, 71, 30.2, 0.364, 24, 0)
(10, 148, 84, 48, 237, 37.6, 1.001, 51, 1)
(9, 134, 74, 33, 60, 25.9, 0.46, 81, 0)
(9, 120, 72, 22, 56, 20.8, 0.733, 48, 0)
(1, 71, 62, 0, 0, 21.8, 0.416, 26, 0)
(8, 74, 70, 40, 49, 35.3, 0.705, 39, 0)
(5, 88, 78, 30, 0, 27.6, 0.258, 37, 0)
(10, 115, 98, 0, 0, 24.0, 1.022, 34, 0)
(0, 124, 56, 13, 105, 21.8, 0.452, 21, 0)
(0, 74, 52, 10, 36, 27.8, 0.269, 22, 0)
(0, 97, 64, 36, 100, 36.8, 0.6, 25, 0)
(8, 120, 0, 0, 0, 30.0, 0.183, 38, 1)
(6, 154, 78, 41, 140, 46.1, 0.571, 27, 0)
(1, 144, 82, 40, 0, 41.3, 0.607, 28, 0)
(0, 137, 70, 38, 0, 33.2, 0.17, 22, 0)
(0, 119, 66, 27, 0, 38.8, 0.259, 22, 0)
(7, 136, 90, 0, 0, 29.9, 0.21, 50, 0)
(4, 114, 64, 0, 0, 28.9, 0.126, 24, 0)
(0, 137, 84, 27, 0, 27.3, 0.231, 59, 0)
(2, 105, 80, 45, 191, 33.7, 0.711, 29, 1)
(7, 114, 76, 17, 110, 23.8, 0.466, 31, 0)
(8, 126, 74, 38, 75, 25.9, 0.162, 39, 0)
(4, 132, 86, 31, 0, 28.0, 0.419, 63, 0)
(3, 158, 70, 30, 328, 35.5, 0.344, 35, 1)
(0, 123, 88, 37, 0, 35.2, 0.197, 29, 0)
(4, 85, 58, 22, 49, 27.8, 0.306, 28, 0)
(0, 84, 82, 31, 125, 38.2, 0.233, 23, 0)
(0, 145, 0, 0, 0, 44.2, 0.63, 31, 1)
(0, 135, 68, 42, 250, 42.3, 0.365, 24, 1)
(1, 139, 62, 41, 480, 40.7, 0.536, 21, 0)
(0, 173, 78, 32, 265, 46.5, 1.159, 58, 0)
(4, 99, 72, 17, 0, 25.6, 0.294, 28, 0)
(8, 194, 80, 0, 0, 26.1, 0.551, 67, 0)
(2, 83, 65, 28, 66, 36.8, 0.629, 24, 0)
(2, 89, 90, 30, 0, 33.5, 0.292, 42, 0)
(4, 99, 68, 38, 0, 32.8, 0.145, 33, 0)
(4, 125, 70, 18, 122, 28.9, 1.144, 45, 1)
(3, 80, 0, 0, 0, 0.0, 0.174, 22, 0)
(6, 166, 74, 0, 0, 26.6, 0.304, 66, 0)
(5, 110, 68, 0, 0, 26.0, 0.292, 30, 0)

In [ ]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.11/dist-packages (0.9.0)

In [ ]:
mycursor.execute("select* from guvi1.Diabeted")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

OperationalError: 2055: Lost connection to MySQL server at 'gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000', system error: Errno 8: EOF occurred in violation of protocol (_ssl.c:2427)

In [ ]:
mycursor.execute("select * from  guvi1.Diabeted")
mycursor.execute("describe guvi1.Diabeted")
for i in mycursor:
  print(i)

('pregnancies', 'bigint(20)', 'YES', '', None, '')
('glucose', 'bigint(20)', 'YES', '', None, '')
('bloodpressure', 'bigint(20)', 'YES', '', None, '')
('skinthickness', 'bigint(20)', 'YES', '', None, '')
('insulin', 'bigint(20)', 'YES', '', None, '')
('bmi', 'double', 'YES', '', None, '')
('diabetespedigreefunction', 'double', 'YES', '', None, '')
('age', 'bigint(20)', 'YES', '', None, '')
('outcome', 'bigint(20)', 'YES', '', None, '')

In [ ]:

mycursor.execute("""
CREATE TABLE guvi1.TableSql (
    employee_id INT,
    task_description VARCHAR(255),
    task_start DATETIME,
    task_end DATETIME,
    department VARCHAR(50)
);""")

In [ ]:
mycursor.execute("""
INSERT INTO guvi1.TableSql VALUES
(1, 'Prepare report', '2024-11-01 09:00:00', '2024-11-01 12:00:00', 'HR'),
(2, 'Data analysis', '2024-11-01 10:30:00', '2024-11-01 14:30:00', 'Data Science'),
(3, 'Team meeting', '2024-11-02 15:00:00', '2024-11-02 16:00:00', 'Operations'),
(1, 'Client call', '2024-11-03 11:00:00', '2024-11-03 12:30:00', 'HR'),
(2, 'Model training', '2024-11-04 08:00:00', '2024-11-04 11:00:00', 'Data Science');
""")

In [ ]:
# Extract date and time components
#task_start is a column name
#task_date is a column name
#DATA TIME in the func
mycursor.execute("""SELECT
    employee_id,
    DATE(task_start) AS start_date,
    TIME(task_start) AS start_time
FROM guvi1.TableSql;""")

In [ ]:
connection.commit()

In [ ]:
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+--------------+--------------+
|   employee_id | start_date   | start_time   |
|---------------+--------------+--------------|
|             1 | 2024-11-01   | 9:00:00      |
|             2 | 2024-11-01   | 10:30:00     |
|             3 | 2024-11-02   | 15:00:00     |
|             1 | 2024-11-03   | 11:00:00     |
|             2 | 2024-11-04   | 8:00:00      |
+---------------+--------------+--------------+

In [ ]:
## Calculate task duration in hours
mycursor.execute("""SELECT
    employee_id,
    TIMESTAMPDIFF(HOUR, task_start, task_end) AS task_duration_hours
FROM guvi1.TableSql;
""")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+-----------------------+
|   employee_id |   task_duration_hours |
|---------------+-----------------------|
|             1 |                     3 |
|             2 |                     4 |
|             3 |                     1 |
|             1 |                     1 |
|             2 |                     3 |
+---------------+-----------------------+

In [ ]:
## Calculate task duration in hours
mycursor.execute("""SELECT
    employee_id,
    TIMESTAMPDIFF(MINUTE, task_start, task_end) AS task_duration_minutes
FROM guvi1.TableSql;
""")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+-------------------------+
|   employee_id |   task_duration_minutes |
|---------------+-------------------------|
|             1 |                     180 |
|             2 |                     240 |
|             3 |                      60 |
|             1 |                      90 |
|             2 |                     180 |
+---------------+-------------------------+

In [ ]:
## Calculate task duration in hours
mycursor.execute("""SELECT * from guvi1.TableSql where employee_id=1
""")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+--------------------+---------------------+---------------------+--------------+
|   employee_id | task_description   | task_start          | task_end            | department   |
|---------------+--------------------+---------------------+---------------------+--------------|
|             1 | Prepare report     | 2024-11-01 09:00:00 | 2024-11-01 12:00:00 | HR           |
|             1 | Client call        | 2024-11-03 11:00:00 | 2024-11-03 12:30:00 | HR           |
+---------------+--------------------+---------------------+---------------------+--------------+

In [ ]:
## Calculate task duration in hours
mycursor.execute("""SELECT * from guvi1.TableSql WHERE task_start BETWEEN '2024-11-01' AND '2024-11-02';
""")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+--------------------+---------------------+---------------------+--------------+
|   employee_id | task_description   | task_start          | task_end            | department   |
|---------------+--------------------+---------------------+---------------------+--------------|
|             1 | Prepare report     | 2024-11-01 09:00:00 | 2024-11-01 12:00:00 | HR           |
|             2 | Data analysis      | 2024-11-01 10:30:00 | 2024-11-01 14:30:00 | Data Science |
+---------------+--------------------+---------------------+---------------------+--------------+

In [ ]:
## Calculate task duration in hours
mycursor.execute("""SELECT * from guvi1.TableSql WHERE DATE(task_start)='2024-11-2';
""")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+--------------------+---------------------+---------------------+--------------+
|   employee_id | task_description   | task_start          | task_end            | department   |
|---------------+--------------------+---------------------+---------------------+--------------|
|             3 | Team meeting       | 2024-11-02 15:00:00 | 2024-11-02 16:00:00 | Operations   |
+---------------+--------------------+---------------------+---------------------+--------------+

In [ ]:
#Format task_start in a readable format
mycursor.execute("""SELECT
    employee_id,
    DATE_FORMAT(task_start, '%W, %M %d, %Y %h:%i %p') AS formatted_date
FROM guvi1.TableSql;
""")

NameError: name 'mycursor' is not defined

In [ ]:
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+--------------------------------------+
|   employee_id | formatted_date                       |
|---------------+--------------------------------------|
|             1 | Friday, November 01, 2024 09:00 AM   |
|             2 | Friday, November 01, 2024 10:30 AM   |
|             3 | Saturday, November 02, 2024 03:00 PM |
|             1 | Sunday, November 03, 2024 11:00 AM   |
|             2 | Monday, November 04, 2024 08:00 AM   |
+---------------+--------------------------------------+

In [ ]:
#-- Add or subtract days
mycursor.execute("""SELECT
    employee_id,
    DATE_ADD(task_start, INTERVAL 13 DAY) AS task_start_plus_13_days,
    DATE_SUB(task_start, INTERVAL 12 DAY) AS task_start_minus_12_days ,
    DATE_ADD(task_start, INTERVAL 3 DAY) AS task_start_plus_30_days
FROM guvi1.TableSql;
""")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+---------------------------+----------------------------+---------------------------+
|   employee_id | task_start_plus_13_days   | task_start_minus_12_days   | task_start_plus_30_days   |
|---------------+---------------------------+----------------------------+---------------------------|
|             1 | 2024-11-14 09:00:00       | 2024-10-20 09:00:00        | 2024-11-04 09:00:00       |
|             2 | 2024-11-14 10:30:00       | 2024-10-20 10:30:00        | 2024-11-04 10:30:00       |
|             3 | 2024-11-15 15:00:00       | 2024-10-21 15:00:00        | 2024-11-05 15:00:00       |
|             1 | 2024-11-16 11:00:00       | 2024-10-22 11:00:00        | 2024-11-06 11:00:00       |
|             2 | 2024-11-17 08:00:00       | 2024-10-23 08:00:00        | 2024-11-07 08:00:00       |
+---------------+---------------------------+----------------------------+---------------------------+

In [ ]:
#-- Fetch previous task details for each employee
mycursor.execute("""SELECT
    employee_id,
    task_description,
    task_start,
    LAG(task_description) OVER (PARTITION BY employee_id ORDER BY task_start) AS previous_task
FROM guvi1.TableSql;""")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+--------------------+---------------------+-----------------+
|   employee_id | task_description   | task_start          | previous_task   |
|---------------+--------------------+---------------------+-----------------|
|             2 | Data analysis      | 2024-11-01 10:30:00 |                 |
|             2 | Model training     | 2024-11-04 08:00:00 | Data analysis   |
|             3 | Team meeting       | 2024-11-02 15:00:00 |                 |
|             1 | Prepare report     | 2024-11-01 09:00:00 |                 |
|             1 | Client call        | 2024-11-03 11:00:00 | Prepare report  |
+---------------+--------------------+---------------------+-----------------+

In [ ]:
#-- Fetch next task details for each employee
mycursor.execute("""SELECT
    employee_id,
    task_description,
    task_start,
    LEAD(task_description) OVER (PARTITION BY employee_id ORDER BY task_start) AS next_task,
    LAG(task_description) OVER (PARTITION BY employee_id ORDER BY task_start) AS previous_task
FROM guvi1.TableSql;""")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+--------------------+---------------------+----------------+-----------------+
|   employee_id | task_description   | task_start          | next_task      | previous_task   |
|---------------+--------------------+---------------------+----------------+-----------------|
|             1 | Prepare report     | 2024-11-01 09:00:00 | Client call    |                 |
|             1 | Client call        | 2024-11-03 11:00:00 |                | Prepare report  |
|             2 | Data analysis      | 2024-11-01 10:30:00 | Model training |                 |
|             2 | Model training     | 2024-11-04 08:00:00 |                | Data analysis   |
|             3 | Team meeting       | 2024-11-02 15:00:00 |                |                 |
+---------------+--------------------+---------------------+----------------+-----------------+

In [ ]:
#constraints
mycursor.execute("CREATE TABLE guvi1.ConstraintTables (no INTEGER  NOT NULL,name VARCHAR(20),school VARCHAR(20)) ")

In [ ]:


a=input("enter no")
b=input("enter name")
c=input("emter school")
query="INSERT INTO guvi1.ConstraintTables (no,name,school) VALUES (%s,%s,%s)"
mycursor.execute(query,(a,None,c))#None = null
connection.commit()

enter no1
enter namea
emter schoolc

In [ ]:


mycursor.execute("create table guvi1.CheckConstraint (name varchar(20) UNIQUE, age int )")

In [ ]:
mycursor.execute("INSERT INTO guvi1.CheckConstraint (name, age) VALUES ('guvi', 10)")
connection.commit()

In [ ]:
mycursor.execute("SELECT * FROM guvi1.CheckConstraint")  # Ensure it's a SELECT query

out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+--------+-------+
| name   |   age |
|--------+-------|
| guvi   |    10 |
+--------+-------+

In [6]:
mycursor.execute("CREATE TABLE guvi1.aadhardetails (name VARCHAR(30),ADDRESS VARCHAR(20),AADHARID INTEGER PRIMARY KEY)")

In [8]:
mycursor.execute("INSERT INTO guvi1.aadhardetails (name,address,aadharid) VALUES('nethaji','coimbatore',12345678)")
connection.commit()

IntegrityError: 1062 (23000): Duplicate entry '?' for key 'aadhardetails.PRIMARY'

In [10]:
mycursor.execute("CREATE TABLE guvi1.bankacc(name VARCHAR(20),type VARCHAR(2),accno INT PRIMARY KEY,aadhar INT ,FOREIGN KEY (aadhar)REFERENCES aadhardetails(aadharid))")

In [13]:
mycursor.execute("INSERT INTO guvi1.bankacc (name,type,accno,aadhar) VALUES('nethaji','Rd',124455,12345678)")

In [14]:
connection.commit()

In [16]:
mycursor.execute("select * from guvi2.employees")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+----------+--------------+-------------+-----------------+----------+
|   emp_id | first_name   | last_name   |   department_id |   salary |
|----------+--------------+-------------+-----------------+----------|
|        1 | John         | Smith       |               1 |    50000 |
|        2 | Sarah        | Johnson     |               2 |    62000 |
|        3 | Michael      | Brown       |               1 |    55000 |
|        4 | Emily        | Davis       |               3 |    48000 |
|        5 | David        | Wilson      |               2 |    61000 |
|        6 | Lisa         | Anderson    |               4 |    53000 |
|        7 | James        | Taylor      |               1 |    54000 |
|        8 | Emma         | Martinez    |               2 |    59000 |
|        9 | Daniel       | Thomas      |               3 |    51000 |
|       10 | Jessica      | Garcia      |               5 |    57000 |
+----------+--------------+-------------+-----------------+----------+

In [18]:
mycursor.execute("select * from guvi2.departments")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+-------------------+---------------+----------+
|   department_id | department_name   | location      |   budget |
|-----------------+-------------------+---------------+----------|
|               1 | IT                | New York      |   500000 |
|               2 | Marketing         | Los Angeles   |   400000 |
|               3 | Finance           | Chicago       |   450000 |
|               4 | HR                | Boston        |   300000 |
|               5 | Sales             | Miami         |   550000 |
|               6 | Research          | Seattle       |   600000 |
|               7 | Operations        | Denver        |   350000 |
|               8 | Legal             | Washington DC |   425000 |
|               9 | Support           | Austin        |   275000 |
|              10 | Development       | San Francisco |   700000 |
+-----------------+-------------------+---------------+----------+

In [19]:
mycursor.execute("select * from guvi2.projects")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+--------------+--------------------+----------+--------------+-------------+
|   project_id | project_name       |   emp_id | start_date   | status      |
|--------------+--------------------+----------+--------------+-------------|
|            1 | Website Redesign   |        1 | 2024-01-15   | In Progress |
|            2 | Mobile App         |        2 | 2024-02-01   | Planning    |
|            3 | Database Migration |        3 | 2024-01-10   | Completed   |
|            4 | Security Audit     |        4 | 2024-03-01   | In Progress |
|            5 | Cloud Migration    |        1 | 2024-02-15   | Planning    |
|            6 | AI Implementation  |        5 | 2024-01-20   | On Hold     |
|            7 | CRM Update         |        7 | 2024-02-10   | In Progress |
|            8 | Network Upgrade    |        8 | 2024-03-05   | Planning    |
|            9 | Data Analytics     |        9 | 2024-01-05   | Completed   |
|           10 | DevOps Pipeline    |        3 | 2024-02-20   | In Progress |
+--------------+--------------------+----------+--------------+-------------+

In [20]:
mycursor.execute("""SELECT e.first_name, e.last_name, d.department_name,d.department_id
FROM guvi2.employees e
right JOIN guvi2.departments d ON e.department_id = d.department_id;""")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+--------------+-------------+-------------------+-----------------+
| first_name   | last_name   | department_name   |   department_id |
|--------------+-------------+-------------------+-----------------|
| John         | Smith       | IT                |               1 |
| Sarah        | Johnson     | Marketing         |               2 |
| Michael      | Brown       | IT                |               1 |
| Emily        | Davis       | Finance           |               3 |
| David        | Wilson      | Marketing         |               2 |
| Lisa         | Anderson    | HR                |               4 |
| James        | Taylor      | IT                |               1 |
| Emma         | Martinez    | Marketing         |               2 |
| Daniel       | Thomas      | Finance           |               3 |
| Jessica      | Garcia      | Sales             |               5 |
|              |             | Research          |               6 |
|              |             | Operations        |               7 |
|              |             | Legal             |               8 |
|              |             | Support           |               9 |
|              |             | Development       |              10 |
+--------------+-------------+-------------------+-----------------+

In [21]:
mycursor.execute("""SELECT e.first_name, e.last_name, d.department_name,d.department_id
FROM guvi2.employees e
left JOIN guvi2.departments d ON e.department_id = d.department_id;""")
out=mycursor.fetchall()#out is a variable tht fetch all details
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+--------------+-------------+-------------------+-----------------+
| first_name   | last_name   | department_name   |   department_id |
|--------------+-------------+-------------------+-----------------|
| John         | Smith       | IT                |               1 |
| Sarah        | Johnson     | Marketing         |               2 |
| Michael      | Brown       | IT                |               1 |
| Emily        | Davis       | Finance           |               3 |
| David        | Wilson      | Marketing         |               2 |
| Lisa         | Anderson    | HR                |               4 |
| James        | Taylor      | IT                |               1 |
| Emma         | Martinez    | Marketing         |               2 |
| Daniel       | Thomas      | Finance           |               3 |
| Jessica      | Garcia      | Sales             |               5 |
+--------------+-------------+-------------------+-----------------+

In [25]:
mycursor.execute("""
    SELECT e.first_name, e.last_name, e.emp_id, p.project_name, p.project_id
    FROM guvi2.employees e
    RIGHT JOIN guvi2.projects p ON e.emp_id = p.emp_id;
""")

out = mycursor.fetchall()  # Fetch all details
from tabulate import tabulate

print(tabulate(out, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

+--------------+-------------+----------+--------------------+--------------+
| first_name   | last_name   |   emp_id | project_name       |   project_id |
|--------------+-------------+----------+--------------------+--------------|
| John         | Smith       |        1 | Cloud Migration    |            5 |
| John         | Smith       |        1 | Website Redesign   |            1 |
| Sarah        | Johnson     |        2 | Mobile App         |            2 |
| Michael      | Brown       |        3 | DevOps Pipeline    |           10 |
| Michael      | Brown       |        3 | Database Migration |            3 |
| Emily        | Davis       |        4 | Security Audit     |            4 |
| David        | Wilson      |        5 | AI Implementation  |            6 |
| James        | Taylor      |        7 | CRM Update         |            7 |
| Emma         | Martinez    |        8 | Network Upgrade    |            8 |
| Daniel       | Thomas      |        9 | Data Analytics     |            9 |
+--------------+-------------+----------+--------------------+--------------+

In [26]:
#multiple join
mycursor.execute("""
    SELECT e.first_name, e.last_name, e.emp_id, p.project_name, p.project_id, d.department_name
    FROM guvi2.employees e
    JOIN guvi2.projects p ON e.emp_id = p.emp_id
    JOIN guvi2.departments d ON e.department_id = d.department_id;
""")

In [27]:
out = mycursor.fetchall()  # Fetch all details
from tabulate import tabulate

print(tabulate(out, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

+--------------+-------------+----------+--------------------+--------------+-------------------+
| first_name   | last_name   |   emp_id | project_name       |   project_id | department_name   |
|--------------+-------------+----------+--------------------+--------------+-------------------|
| John         | Smith       |        1 | Cloud Migration    |            5 | IT                |
| John         | Smith       |        1 | Website Redesign   |            1 | IT                |
| Sarah        | Johnson     |        2 | Mobile App         |            2 | Marketing         |
| Michael      | Brown       |        3 | DevOps Pipeline    |           10 | IT                |
| Michael      | Brown       |        3 | Database Migration |            3 | IT                |
| Emily        | Davis       |        4 | Security Audit     |            4 | Finance           |
| David        | Wilson      |        5 | AI Implementation  |            6 | Marketing         |
| James        | Taylor      |        7 | CRM Update         |            7 | IT                |
| Emma         | Martinez    |        8 | Network Upgrade    |            8 | Marketing         |
| Daniel       | Thomas      |        9 | Data Analytics     |            9 | Finance           |
+--------------+-------------+----------+--------------------+--------------+-------------------+

In [32]:
mycursor.execute(""" SELECT d.department_name, COUNT(e.emp_id) as employee_count, AVG(e.salary) as avg_salary FROM guvi2.departments d LEFT JOIN guvi2.employees e ON d.department_id = e.department_id GROUP BY d.department_name;

""")
out = mycursor.fetchall()  # Fetch all details
from tabulate import tabulate

print(tabulate(out, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

+-------------------+------------------+--------------+
| department_name   |   employee_count |   avg_salary |
|-------------------+------------------+--------------|
| Finance           |                2 |      49500   |
| IT                |                3 |      53000   |
| Marketing         |                3 |      60666.7 |
| Research          |                0 |              |
| Operations        |                0 |              |
| Legal             |                0 |              |
| Development       |                0 |              |
| HR                |                1 |      53000   |
| Sales             |                1 |      57000   |
| Support           |                0 |              |
+-------------------+------------------+--------------+