<a href="https://colab.research.google.com/github/gowtham-dd/Data-Science-Basics/blob/main/Connecting_sql_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#connecting mysql and python
# step 1 install packages
#!pip install mysql-connector-python

In [ ]:
import mysql.connector # type: ignore




mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",


)


print(mydb)
mycursor = mydb.cursor(buffered=True)

In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 41.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [32]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "4PFhDQQc2yhfCUH.root",
  password = "tzNB9UAMnXNidi62",
  database = "sampleTable",

)
mycursor = connection.cursor(buffered=True)

In [8]:
mycursor.execute("create database table1")

In [11]:
#creating db using for

a=["guvi1","guvi2","guvi3"]
for i in a:
  mycursor.execute(f"create database {i}")

In [12]:
mycursor.execute("drop database guvi3")

In [16]:
mycursor.execute("create table guvi1.table1(id int,name varchar(20),rollnum int)")

In [24]:
mycursor.execute("use guvi1")
mycursor.execute("show tables")
for i in mycursor:#100% for to be used for printing any result that is retreving
  print(" ".join(i))

table1

In [25]:
#insert in table
mycursor.execute("insert into table1 values(1,'guvi',123)")

In [30]:
mycursor.execute("select * from table1")
connection.commit()#saving when updated or inserted
for i in mycursor:
  print(i,end=" ")

(1, 'guvi', 123)

In [37]:
a=int(input())
b=input()
c=int(input())
mycursor.execute(f"insert into guvi1.table1 values({a},'{b}',{c})")
connection.commit()

2
gowtham
11

In [38]:
mycursor.execute("describe guvi1.table1")
for i in mycursor:
  print(i)

('id', 'int(11)', 'YES', '', None, '')
('name', 'varchar(20)', 'YES', '', None, '')
('rollnum', 'int(11)', 'YES', '', None, '')

In [ ]:
import mysql.connector
from mysql.connector import Error


try:
   connection = mysql.connector.connect(
 host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
 port = 4000,
 user = "3ohcuBrot",
 password = "aaVLfo",
   )


   if connection.is_connected():
       cursor = connection.cursor()
       cursor.execute("SELECT * FROM Rahul")




except Error as e:
   print(f"Error: {e}")


finally:
   if connection.is_connected():
       cursor.close()
       connection.close()
       print("MySQL connection is closed")