<a href="https://colab.research.google.com/github/gowtham-dd/Data-Science-Basics/blob/main/Debug.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class human:
  def __init__(self,name,gender):
    self.name=name
    self.gender=gender

  def methods(self):
    print(f"my name is {self.name} and my gender is {self.gender}")


obj1=  human("gowtham","m");
obj1.methods()
print(obj1.name)

my name is gowtham and my gender is m
gowtham

In [3]:
x=lambda a : a+20
print(x(55))

75

In [8]:
def mul(n):
  return lambda a:a*20
aa=mul(1)
print(aa(2))

40

In [24]:
a=[]
b=[]
def prime(n):
  for i in range(2,n):
    if n%i==0:
      return False
    else:
      b=a.append(i)

ab=filter(prime,range(1,10))
print(b)

[]

In [26]:


def square(x):
  return x*x

number=[1,2,3,4,5]
listsq=map(square,number)
print(list(listsq))

<map object at 0x7d5a65c5a950>

In [27]:
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.11/dist-packages (2.0.1)

In [30]:
import xlrd
loc=("C:\Users\dell\Documents\sample.xlsx")
wb=xlrd.open_workbook(loc)
sheet=wb.sheet_by_index(0)
sheet.cell_value(0,0)
print(sheet.cell_value(0,0))

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-30-88d58c1e93ed>, line 2)

In [32]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 27.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [33]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "4PFhDQQc2yhfCUH.root",
  password = "tzNB9UAMnXNidi62",
  database = "sampleTable",

)

In [35]:
mycursor=connection.cursor()

In [40]:
result=mycursor.fetchall
for i in result:
  print(i)

TypeError: 'method' object is not iterable

In [45]:
tuple1=('a','b','c')
myit=iter(tuple1)
print(next(myit))
print(next(myit))
print(tuple(myit))

a
b
('c',)

In [50]:
#pickling
import pickle

example_dict = {1:"6",2:"24",3:"120"}
pickle_out = open("dict.pickle","wb")
pickle.dump(example_dict,pickle_out)
new_dict=pickle.load(pickle_out)
print(new_dict)
pickle_out.close()

UnsupportedOperation: read

In [51]:
import json

person='{"name":"gowtham","cls":"ss"}'
print(person)
print(type(person))
person_dict=json.loads(person)
print(person_dict)
print(type(person_dict))

{"name":"gowtham","cls":"ss"}
<class 'str'>
{'name': 'gowtham', 'cls': 'ss'}
<class 'dict'>

In [56]:
f=open("json1.json","r")

In [58]:
a=f.write('{"name":"gowtham","cls":"ss"}')

UnsupportedOperation: not writable

In [57]:
print(f.read())

{"name":"gowtham","cls":"ss"}{"name":"gowtham","cls":"ss"}{"name":"gowtham","cls":"ss"}

In [60]:
person={"name":"gowtham","cls":"ss"}
person_json=json.dumps(person)
print(person_json)

{"name": "gowtham", "cls": "ss"}