<a href="https://colab.research.google.com/github/gowtham-dd/Data-Science-Basics/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#same as list but immutable
b,c,d,a=(1,2,3,4)
print(a,b,c,d)

4 1 2 3

In [5]:
#set {} no duplicate and sort them it dont have index
a={1,2,1,3,2,6,4,5}
print(a)

{1, 2, 3, 4, 5, 6}

In [14]:
#dictionary keys() values() hash map data structuree
c={'name':'Gow','cls':'12','age':'20','deg':['b.com','mcom']}
for key in c.keys():
    print(key)
for value in c.values():
    print(value)
for key,value in c.items():
  print(key,value)

name
cls
age
deg
Gow
12
20
['b.com', 'mcom']
name Gow
cls 12
age 20
deg ['b.com', 'mcom']

In [15]:
A={'A':(1,2,3,4),'B':(5,6,7,8)} #tuple dictionary
print(A)

{'A': (1, 2, 3, 4), 'B': (5, 6, 7, 8)}

In [13]:
c={'name':'Gow','cls':'12','age':'20','deg':['b.com','mcom']}

c['name']='gowtham'
print(c)
c['mark']='78'
print(c)
del c['age']
print(c)

c['Exp']={'Teach':'10','expe':'12'}
print(c)

{'name': 'gowtham', 'cls': '12', 'age': '20', 'deg': ['b.com', 'mcom']}
{'name': 'gowtham', 'cls': '12', 'age': '20', 'deg': ['b.com', 'mcom'], 'mark': '78'}
{'name': 'gowtham', 'cls': '12', 'deg': ['b.com', 'mcom'], 'mark': '78'}
{'name': 'gowtham', 'cls': '12', 'deg': ['b.com', 'mcom'], 'mark': '78', 'Exp': {'Teach': '10', 'expe': '12'}}